.setup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {

  border: 2px solid var(--light);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;

  &__submit {
    position: relative;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: var(--light);
    background-color: var(--accent);

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      top: 2px;
    }
  }
}